services:
  n8n:
    image: n8nio/n8n:latest
    container_name: my_n8n
    ports:
      - "5678:5678"
    environment:
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - WEBHOOK_URL=http://localhost:5678/
      - N8N_DIAGNOSTICS_ENABLED=false
      - N8N_PERSONALIZATION_ENABLED=false
    volumes:
      - n8n_data:/home/node/.n8n
    depends_on:
      - ollama
      - python
    networks:
      - app_net

  ollama:
    image: ollama/ollama:latest
    container_name: my_ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - app_net
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]


  python:
    build:
      context: ./python
    container_name: my_python
    ports:
      - "8000:8000"
    networks:
      - app_net

volumes:
  n8n_data:
  ollama_data:

networks:
  app_net:
    driver: bridge